:root {
    --primary-color: #7a5dc7; /* Cor principal roxa */
    --secondary-color: #5d437a; /* Cor secundária */
    --text-color: #ffffff; /* Cor do texto */
    --background-color: #f0f0f5; /* Cor de fundo */
}